body {
       background-color: #7c7c7c;
       color: #fff;
       font-size: 16px;
       font-family: 'Oxygen', sans-serif;
}

#header-nav {
       background-color: #35080a;
}

#logo-img {
       background: transparent url('../images/logo.png') no-repeat center;
       width: 150px;
       height: 150px;
       margin: 10px 15px 10px 0;
}

.navbar-brand {
       padding-top: 50px;
}

.navbar-brand h1 {
       font-family: 'Lora', serif;
       color: #98ffb2;
       font-size: 1.7em;
       font-weight: bold;
       text-shadow: 1px 1px 1px #222222;
       margin-top: 0;
       margin-bottom: 0;
       line-height: .75;
}

.navbar-brand a#phone {
       color: #868686;;
       box-shadow: 0 0 10px #ca9822;
       border-radius: 3px;
       width: 100%;
       padding-left: 15px;
       padding-right: 15px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
       text-decoration: none;
}

.navbar-brand p {
       color: #c7c7c7;
       font-size: 0.7;
       margin-top: 15px;
}

.navbar-brand p span {
       vertical-align: middle;
}

/* Here is the Navigation */
#nav-list a {
       color: #868686;
       text-align: center;
}

#nav-list a:hover, #nav-list a.active {
       color: #98ffb2;
}

#nav-list a span {
       font-size: 1.8em;
}

#header-nav .container button.navbar-toggler {
       border: 1px solid #61222f;
}
/* End Navigation */

/* Home Tile */

#menu-tile, #specials-tile, #map-tile{
       height: 250px;
       width: 100%;
       margin-bottom: 15px;
       position: relative;
       border: 2px solid #3f0c1f;
       overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
       box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
       background: url("../images/መጠጥ.jpg") no-repeat;
       background-position: center;
}
#specials-tile {
       background: url("../images/ፍስክ.jpg") no-repeat;
       background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
       position: absolute;
       bottom: 0;
       right: 0;
       width: 100%;
       text-align: center;
       font-size: 1.6em;
       text-transform: uppercase;
       background-color: #91690e;
       color: #fff;
       opacity: 0.8;
}

/* Catagory Tile */
.catagory-tile {
       position: relative;
       border: 2px solid #3F0c1f;
       overflow: hidden;
       width: 200px;
       height: 200px;
       margin: 0 auto 15px;
}

.catagory-tile span {
       position: absolute;
       bottom: 0;
       right: 0;
       width: 100%;
       text-align: center;
       font-size: 1.2em;
       text-transform: uppercase;
       background-color: #000;
       color: #fff;
       opacity: 0.8;
}

.catagory-tile:hover {
       box-shadow: 0 1px 5px 1px #cccccc;
}
#menu_catagories_title + div {
       margin-bottom: 50px;
}

/* End of Catagory Tile */

/* Single Page Cateegory */
.menu-item-tile {
       margin-bottom: 25px;
}
.menu-item-tile hr {
       background-color: #ffffff;
       width: 100%;
}

.menu-item-tile .menu-item-price {
       font-size: 1.1em;
       text-align: right;
       margin-top: -15px;
       margin-right: -15px;
}

.menu-item-tile .menu-item-price span {
       font-size: 0.6em;
}
.menu-item-photo {
       position: relative;
       border: 2px solid #3f0c1f;
       overflow: hidden;
       padding: 0;
       margin-right: -15px;
       margin-left: auto;
       margin-bottom: 20px;
       max-width: 250px;
}

.menu-item-photo div {
       position: absolute;
       bottom: 0;
       right: 0;
       width: 80px;
       background-color: #557c3e;
       text-align: center;
}

.menu-item-description {
       padding-right: 30px;
}
h3.menu-item-tile {
       margin: 0 0 10px;
}

.menu-item-details {
       font-size: 0.9em;
       font-style: italic;
}
/* End of Single Page Category */

/* Footer */
footer.panel-footer {
       background-color:  #3a2424;
       margin-top: 15px;
       padding-top: 35px;
       padding-bottom: 30px;
       border-top: 0;
}
footer .row {
       margin-bottom: 15px;
}

footer .row section {
       text-align: center;
}

#hours span, #address span, #testimonies span {
       font-size: 1.3em;

}
#hours, #address  {
       line-height: 2;
}
#address p {
       color: #c6f1ac;
       font-size: 1.2em;
}
#testimonies {
       font-style: italic;
}

#testimonies p {
       margin-top: 25px;
}

div.text-center {
       margin-top: 25px;
       margin-bottom: 25px;
       font-size: 0.8em;
}

footer section hr {          
  background-color: #ffffff;
  width: 50%;
}
/* End Home Tile */

/* Extra Large Screens */
@media (min-width: 1200px){
       .jumbotron {
              background: url("../images/bar-1200.jpg") no-repeat;
              height: 675px;
              box-shadow: 0 0 50px #3f0c1f;
              border: 2px solid #3f0c1f;
       }
}
/* Large Screens */
@media (min-width: 992px) and (max-width: 1199px) {
       .jumbotron {
              background: url("../images/bar-992.jpg") no-repeat;
              height: 558px;
              box-shadow: 0 0 50px #3f0c1f;
              border: 2px solid #3f0c1f;
       }

}

/* Medium Screens */
@media (min-width: 768px) and (max-width: 991px) {
       .jumbotron {
              background: url("../images/bar-768.jpg") no-repeat;
              height: 432px;
              box-shadow: 0 0 50px #3f0c1f;
              border: 2px solid #3f0c1f;
       }
      
}
@media (max-width: 991px) {
       #nav-list a {
              font-size: 0.8em;
              text-align: left;
              align-self: center;
              width: 50%;
       }
}
/* Small Screens */
@media (min-width: 576px) and (max-width: 767px) {
       .jumbotron {
              background: url("../images/bar-575.jpg") no-repeat;
              height: 323px;
              box-shadow: 0 0 50px #3f0c1f;
              border: 2px solid #3f0c1f;
       }
}

/* Extra small Screens */
@media (max-width: 575px) {
       .navbar-brand > a > h1 {
              font-size: 1em;
       }
       .navbar-brand > p > span {
              font-size: 0.5em;
       }
       .jumbotron {
              background-color: red;
              margin-top: 0px;
              padding: 0;
              box-shadow: 0 0 50px #3f0c1f;
              border: 2px solid #3f0c1f;
       }
       #menu-tile, #specials-tile, #map-tile {
              width: 250px;
              height: 150px;
              margin: 0 auto 15px;
       }
       #map-tile {
              height: 150px;
       }

       .menu-item-photo {
              margin-right: auto;
       }
       .menu-item-tile .menu-item-price {
             
              text-align: center;
       }
       .menu-item-description {
              text-align: center;
       }
       .menu-item-description h3 {
              margin-top: 25px;
       }
}